<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <h1>Post List</h1>

    <div>顶部分类
        {% for cate in navs %}
            <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
        {% endfor %}
        <span><a href="/">全部</a></span>
    </div>

    <ul>
        {% for post in post_list %}
            <li>
                <a href="/post/{{ post.id }}.html">{{ post.title }}</a>
                <div>
                    <span>
                        作者：{{ post.owner.username }}
                    </span>
                    <span>
                        分类：{{ post.category.name }}
                    </span>
                </div>
                <div>
                    摘要：{{ post.desc }}
                </div>
            </li>
        {% endfor %}
    </ul>

    <div>底部分类
        {% for cate in categories %}
            <a href="/category/{{ cate.id}}">{{ cate.name }}</a>
        {% endfor %}
    </div>

    <div>侧边栏
        {% for sd in sidebars %}
            <h4>{{ sidebars.title }}</h4>
            {{ sidebars.content }}
        {% endfor %}
    </div>
</body>
</html>